<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projet TechWatch-V3</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="body.css">
</head>

<body>
    <h1 class="titre">My Tech-Watch Assignator</h1>
    <header class="head">
        <nav class="nav">
            <div class="navDiv"><a href="http://localhost:3000/">Home</a></div>
            <div class="navDiv"><a href="http://localhost:3000/students">Student list</a></div>
            <div class="navDiv"><a href="http://localhost:3000/historique">Historique</a></div>
        </nav>
    </header>
    <h1 class="textGroups">List of groups</h1>
    <form action="/groups" method="post">
        <%groups.forEach((element) => {%>
        <%year = element.nGroupe.deadline.getFullYear();%>
        <%month = element.nGroupe.deadline.getMonth() + 1;%>
        <%dt = element.nGroupe.deadline.getDate();%>
        <%if (dt < 10) {%>
            <%dt = '0' + dt;%>
        <%}%>
        <%if (month < 10) {%>
            <%month = '0' + month;%>
        <%}%>
        <%element.nGroupe.deadline = (year + '-' + month + '-' + dt);%>
        <%});%>
        <% if (groups.length >= 1) {%>
            <section class="groupe">
                <h3><%- groups[0].nGroupe.subject %></h3>
                <p>Students affiliate : 
                    <% for (let index = 0; index <groups[0].nGroupe.student.length - 1; index++) {%>
                        <%- groups[0].nGroupe.student[index].name %>  - - -  
                    <%}%>
                    <%- groups[0].nGroupe.student[groups[0].nGroupe.student.length - 1].name %>
                </p>
                
                <p> When : <%- groups[0].nGroupe.deadline %></p>
        <%}%>
        <% if (groups.length >= 2) {%>           
                <h3><%- groups[1].nGroupe.subject %></h3>
                <p>Students affiliate : 
                    <% for (let index = 0; index <groups[1].nGroupe.student.length - 1; index++) {%>
                        <%- groups[1].nGroupe.student[index].name %>  - - -  
                    <%}%>
                    <%- groups[1].nGroupe.student[groups[1].nGroupe.student.length - 1].name %>
                </p>
                
                <p> When : <%- groups[1].nGroupe.deadline %></p>
            <%}%>
        
        </section>
    
        <input type="text" name="subject" placeholder="Project Name" >
        <input type="number" name="student" placeholder="Nombre d'étudiants" >
        <input type="date" name="deadline" placeholder="Deadline">
        <input type="submit" value="Generate">
    </form>

</body>

</html>