<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technology-Watch Assignator</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <h1 class="titre">My Tech-Watch Assignator</h1>
    <header class="head">
        <nav class="nav">
            <div class="navDiv"><a href="http://localhost:3000/students">Student list</a></div>
            <div class="navDiv"><a href="http://localhost:3000/groups">Tech Watch Assignation</a></div>
            <div class="navDiv"><a href="http://localhost:3000/historique">Historique</a></div>
        </nav>
    </header>
    <main>
        <div class="containerPresentation">
            <h2>Welcome tech-watch user !</h2>
            <p>On this page you could take a look to the next tech-watch we will assist. You can find witch students will have to do the next presentation and when.</p><br>
            <p>Also, as you can see, above this section there is a menu. This menu offer you diverse options like: take a look about the tech-watch we had already assist;  see the list of students availaible for do a tech-watch; a page for create the next tech-watch.</p><br>
            <p>Don’t be shy and try to go on diverses part of the website !</p>
        </div>
        <div class="containerGroupe">
            <%groups.forEach((element) => {%>
                <%year = element.nGroupe.deadline.getFullYear();%>
                <%month = element.nGroupe.deadline.getMonth() + 1;%>
                <%dt = element.nGroupe.deadline.getDate();%>
                <%if (dt < 10) {%>
                    <%dt = '0' + dt;%>
                <%}%>
                <%if (month < 10) {%>
                    <%month = '0' + month;%>
                <%}%>
                <%element.nGroupe.deadline = (year + '-' + month + '-' + dt);%>
                <%});%>
                <% if (groups.length >= 1) {%>
                    <h3><%- groups[0].nGroupe.subject %></h3>
                    <p>Students affiliate : 
                        <% for (let index = 0; index <groups[0].nGroupe.student.length - 1; index++) {%>
                            <%- groups[0].nGroupe.student[index].name %>  - - -  
                        <%}%>
                        <%- groups[0].nGroupe.student[groups[0].nGroupe.student.length - 1].name %>
                    </p>
                    
                    <p> When : <%- groups[0].nGroupe.deadline %></p>
            <%}%>
            <% if (groups.length >= 2) {%>           
                    <h3><%- groups[1].nGroupe.subject %></h3>
                    <p>Students affiliate : 
                        <% for (let index = 0; index <groups[1].nGroupe.student.length - 1; index++) {%>
                            <%- groups[1].nGroupe.student[index].name %>  - - -  
                        <%}%>
                        <%- groups[1].nGroupe.student[groups[1].nGroupe.student.length - 1].name %>
                    </p>
                    
                    <p> When : <%- groups[1].nGroupe.deadline %></p>
                <%}%>
                
                
        </div>
        <div class="containerStudent">
            <p>List of students they will must do a tech-watch soon:</p>
            <ol>
                
                <% if(students !== undefined){%>
                    <% students.forEach(element => {%>
                        <li><%- element.name%></li>
                    <%});%>
                <%}%>
            </ol>
        </div>
    </main>
</body>
</html>